<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commute.css">
</head>
<body>
    <div class="commute_container">

            <div class="commute_loc">
                <img src="../img/Page 1.png" alt="SOS-Logo">
            </div>
            
            <div class="commute_track">
                <h1>Track your ride</h1>
            </div>

            <div class="commute_label">
                <p>Be able to view your current 
                location in on the map and send 
                you ride details to your contacts.
                </p>
            </div>

            <div class="commute_button">
                <button class="commute_button1" onclick ="location.href='commute2.html'">Get started!</button>
            </div>

    </div>

    <script src="cordova.js"></script>
    <script src="../js/commute.js"></script>

</body>

<footer>
    <nav class="nav_bar">
        <ul class ="nvb_items" style="margin-left: 0%; position: relative;">
            <li>
                <a href="home.html">
                    <!--ACTIVE puts the upper red border on navbar items-->
                    <!--tagline_active puts the red font color on text-->
                    <div class="items">
                        <img src="/sospicious\www\img\HomeIcon.svg" class="item_img">
                        <p class="tagline">Home</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="commute.html">
                    <div class="items ACTIVE">
                        <img src="/sospicious\www\img\CommuteActive.svg" class="item_img">
                        <p class="tagline_active">Commute</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="contacts.php">
                    <div class="items">
                        <img src="/sospicious\www\img\ContactsIcon.svg" class="item_img">
                        <p class="tagline">Contacts</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="profile.php">
                    <div class="items">
                        <img src="/sospicious\www\img\ProfileIcon.svg    " class="item_img">
                        <p class="tagline">Profile</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</footer>
</html>