<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/commute.css">
    <title>Document</title>
</head>
<body>
    <div class="commute3_container">
        
            <!-- upper buttons -->
            <div class="commute3_two_buttons">
                <button class="commute3_share_my_ride">Share my ride</button>
                <button class="commute3_history">History</button>
            </div>

        <div class="commute3_card">
            <!-- date/status -->
            <div class="commute3_date_status">
                <div class="commute3_date">July 5 2023</div>
                <div class="commute3_chip">
                    <div class="commute3_ellipse"></div>
                    <!-- Content -->
                    <div class="commute3_chip__content">Ongoing</div>
                    <!-- The close button -->
                </div>
                <!-- <div> <img src="../img/Ellipse 67.svg" class="commute3_elipse"></div> -->
                <!-- <div class="commute3_status"><button type="button" class="commute3_status_button" >Ongoing</button></div> -->
            </div>

            <!-- place -->
            <div class="commute3_place">
                <img src="../img/map-pin.svg" alt="commute3_pin">
                <div class="commute3_text1">Hop Inn Hotel Tomas Morato, Quezon City</div>
            </div>

            <!-- driver's name -->
            <div class="commute3_driver_name">
                <img src="../img/a51fv-cmt8k.svg" class="commute3_driver" alt="commute3_vehicle">
                <div class="commute3_text2"> Reyster Yton</div>
            </div>

            <!-- vehicle/complete,ongoing -->
            <div class="commute3_vehicle">
                <!-- <div class="commute3_vehic"> -->
                <div class="commute3_vehicle" >
                    <img src="../img/mdi_car-sports-utility-vehicle.svg" alt="commute3_vehicle">
                </div>
                <div class="commute3_gap">
                <div class="commute3_text3">Grab Taxi</div>
                <!-- </div> -->
                <div><button class="commute3_complete">Complete Ride</button></div>
                </div>
            </div>
        </div>

        
        


    </div>

    
</body>
</html>