<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commute.css">
</head>
<body>
    <div class="commute_container">

            <div class="commute_loc">
                <img src="../img/Page 1.png" alt="SOS-Logo">
            </div>
            
            <div class="commute_track">
                <h1>Track your ride</h1>
            </div>

            <div class="commute_label">
                <p>Be able to view your current 
                location in on the map and send 
                you ride details to your contacts.
                </p>
            </div>

            <div class="commute_button">
                <button class="commute_button1">Get started!</button>
            </div>

    </div>

    <script src="cordova.js"></script>
    <script src="../js/commute.js"></script>

</body>
</html>