<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commute.css">
</head>
<body>
    <div class="commute2_container">

        <div class="commute2_two_buttons">
            <button class="commute2_share_my_ride">Share my ride</button>
            <button class="commute2_history">history</button>
        </div>

        <div class="commute2_send">
            <div>
                <label for="commute2_send_to">Send to:</label>
            </div>
            <div>
                <input type="text" class="commute2_transparent">
            </div>
            <!-- <img class="commute2_img" src="../img/Chips Input.png" alt="mom">
            <img class="commute2_img" src="../img/Chips Input (1).png" alt=""> -->
        </div>

        <div class="commute2_loc">
            <img class="commute2_pin" src="../img/map-pin-c.svg" alt="map-pin">
            <input class="commute2_input" type="text" required>
            <br>
            <img class="commute2_taxi" src="../img/ph_taxi-light.svg" alt="taxi">
            <input class="commute2_input" type="text" required>
        </div>
        <form action="#" class="form">
            <div class="commute2_column">
                <div class="commute2_col">
                    <label class="commute2_label" for="commute2_vehicle">Type</label>
                    <div class="commute2_dropdown">
                    <select name="commute2_vehicle" id="commute2_option" class="commute2_same" required>
                        <option value="Taxi">Taxi</option>
                        <option value="Bus">Bus</option>
                        <option value="Tricycle">Tricycle</option>
                        <option value="Motorcycle">Motorcycle</option>
                    </select>
                    </div>
                </div>
                    <div class="commute2_col">
                        <label class="commute2_label"  for="commute2_plate_number">Plate Number</label>
                        <div class="commute2_pt">
                        <input class="commute2_same" id="try" type="text" placeholder="ABC 1234">
                    </div>
                    </div>
            </div>
        </form>

        <div class="commute2_driver">
            <label class="commute2_label"  for="commute2_driver_name">Driver's Name</label>
            <div>
                <input class="commute2_same" id="jd" type="text" placeholder="Juan Dela Cruz" size="40">
            </div>
        </div>

        <div class="commute2_other_details">
            <label class="commute2_label"  for="commute2_details">Other Details</label>

            <div>
                <textarea name="" id="commute2_textarea" cols="43" rows="6" class="commute2_same"></textarea>
                
            </div>
        </div>

        <div class="commute2_two_buttons">
            <button class="commute2_share">Share</button>
            <button class="commute2_cancel">Cancel</button>
        </div>
        

    </div>
</body>
</html>