<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/commute.css">
</head>
<body>
    <div class="commute2_container">

        <div class="commute2_two_buttons">
            <button class="commute2_share_my_ride">Share my ride</button>
            <button class="commute2_history">history</button>
        </div>

        <div class="commute2_send">
            <label for="commute2_send_to">Send to:</label>
            <img src="../img/Chips Input.png" alt="mom">
            <img src="../img/Chips Input (1).png" alt="">
        </div>

        <div class="commute2_loc">
            <img class="commute2_pin" src="../img/map-pin.png" alt="map-pin">
            <input class="commute2_input" type="text">
            <br>
            <img class="coomute2_taxi" src="../img/ph_taxi-light.png" alt="taxi">
            <input class="commute2_input" type="text">
        </div>

        <div class="commute2_vehicle_details">
            <label for="commute2_vehicle">Type</label>
            <select name="commute2_vehicle" class="commute2_vehicle">
                <option value="Taxi">Taxi</option>
                <option value="Bus">Bus</option>
                <option value="Tricycle">Tricycle</option>
                <option value="Motorcycle">Motorcycle</option>
            </select>
            <label for="commute2_plate_number">Plate Number</label>
            <input type="text" value="ABC 1234">
        </div>

        <div class="commute2_driver">
            <label for="commute2_driver_name">Driver's Name</label>
            <br>
            <input type="text" value="Juan Dela Cruz">
        </div>

        <div class="commute2_other_details">
            <label for="commute2_details">Other Details</label>
            <br>
            <input type="text">
        </div>

        <div class="commute2_two_buttons">
            <button class="commute2_share">Share</button>
            <button class="commute2_history">Cancel</button>
        </div>
        

    </div>
</body>
</html>