<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f99a56d007.js" crossorigin="anonymous"></script>
    <script src="../js/save.js"> </script>
    <title>SOSpicious</title>

    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
        emailjs.init("eezyFzHW_0vRXa_Ij");
    })();

    </script>
</head>

<body onload="myFunction()">
    <div class="home_container">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            display: grid;
            place-items: center;
            height: 100%;
            width: 100%;
            padding: 2rem;
            background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(204, 42, 52, 0.00) 0%, #CC2A34 100%), #E94A54;

        }
    </style>
</head>

<body onload="myFunction()">
    <div class="home_container" id="HOME">
        <audio loop src="../img/emergency.mp3"></audio>
        <div class="home_user-loc">
            <div class="icon"><i class="fas fa-location-dot" id="userLocation"></i></div>
            <label class="home_location" for="userLocation">Your Current Location</label>
        </div>
        <div class="home_btn-container">
            <button class="home_sos-btn" onclick="showCancelModal(); startTimer(); play();">SOS</button>
        </div>
        <p class="home_press-label">Press the <span>button</span> to send alert to your emergency contacts</p>
    </div>

    <div class="cancel_container modal" id="cancelModal">
        <div class="modal-content">
            <h1>SENDING <br>EMERGENCY <span>ALERT!</span></h1>
            <div id="cancel_timer"></div>
            <div class="cancel_pin">
                <form class="cancel_pincode-form">
                    <input class="cancel_pincode" type="password" maxlength="1" autofocus/>
                    <input class="cancel_pincode" type="password" maxlength="1" />
                    <input class="cancel_pincode" type="password" maxlength="1" />
                    <input class="cancel_pincode" type="password" maxlength="1" />
                    <!-- <button class="cancel_pincode-btn" type="submit">Cancel</button> -->
                </form>
            </div>
            <button id="homeButton" style="display: none;padding: 10px;
                                    background-color: orange;
                                    color: white;
                                    border-radius: 10px;
                                    font-weight: bold;">
                                    Go to Home</button>
            <p class="cancel_label">Enter your <span>4-digit pin</span> to cancel sending SOS Alert to your emergency contacts.</p>
            <p class="cancel_sent">Emergency Alert is playing</p>
            <p class="cancel_wrong-pin">Wrong Password</p>
        </div>
    </div>
    
    <script src="../js/timer.js"></script>
    <script src="cordova.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/sendEmail.js"></script>
  
    <script>
        function showCancelModal() {
            var modal = document.getElementById("cancelModal");
            modal.style.display = "block";
        }
    </script>

<footer>
    <nav class="nav_bar">
        <ul class ="nvb_items" style="margin-left: 0%; position: relative;">
            <li>
                <a href="home.html">
                    <!--ACTIVE puts the upper red border on navbar items-->
                    <!--tagline_active puts the red font color on text-->
                    <div class="items ACTIVE">
                        <img src="../img/HomeACTIVE.svg" class="item_img">
                        <p class="tagline_active">Home</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="commute.html">
                    <div class="items">
                        <img src="../img/CommuteIcon.svg" class="item_img">
                        <p class="tagline">Commute</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="../templates/contacts.php">
                    <div class="items">
                        <img src="../img/ContactsIcon.svg" class="item_img">
                        <p class="tagline">Contacts</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="profile.php">
                    <div class="items">
                        <img src="../img/ProfileIcon.svg" class="item_img">
                        <p class="tagline">Profile</p>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</footer>    
</body>
</html>
