
   .main_container{
    display: block;
    align-items: center;
    background-color: white;
    max-height: 800px;
    max-width: 388px;
  }

  /*Header styles*/
  .general_header{
    position:fixed;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .g_SOS_logo{
    display: block;
    align-self: center;
    height: 51px;
    width: 96px;
  }

  .general_header_loc{
    margin-top: 19px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 15%;
  
  }
  .general_header_loc > *{
    flex: 0 0 auto;
  }

  .general_header_loc_img{
    width: 40px;
    margin: 10px;
  }

  .general_header_loc_label{
    align-self: center;
    padding-top: 15px;
    margin: 10px;
    border: none;
  }


  /*Bottom Navbar styles*/ 
  
  footer{
    background: white;
    height: 94px;
    width: 354px;
    overflow: hidden;
    bottom: 0;
    position: fixed;
    
  }

  .items{
    display:flex;
    align-content: left;
    align-items: center;
    flex-direction: column;
    
    margin-left: 0px;
    margin-top: -10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right: 3px;
    border-style: solid;
    border-color: grey;
    border-block-end: 2px;
  }

  .item_img {
    height: 30px;
    width: 30px;
  }

  .nvb_items{
    margin-left: -20px; 
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .nvb_items > *{
    flex: 0 0 auto;
  }

  .ACTIVE{
    color: red;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top: 5px;
    border-right: 3px;
    border-right-color: grey;
    border-style: solid;
    border-top-color: red;
  }

  /*General styles, for whole document*/
  
  body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10cm;
    max-width: 388px;
    max-height: 800px;
    overflow: hidden;
    margin-top: -60px;
    height: 800px;
  }

  body div{
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-width: 354px;
    padding: 10px;
    
  }
  .grey_bg{
    background-color: grey;
  }

  a{
    text-decoration: none;
  }

  .SOS_btn {
    height: 263px;
    width: 263px;
    background-color: red;
    background: rgb(255,255,255);
    background: radial-gradient(circle at top left, rgba(255,255,255,1) 5%, rgba(255,0,0,1) 50%);
    border-radius: 50%;
    align-self: center;
    filter: drop-shadow(0px 15px 0px grey);
  }

  .btn_label{
    padding: 132px;
    margin-left: -87px;
    margin-top: -50px;
    text-align: center;
    font-size: 100px;
    color: white;
  }

  .content_container{
    width: auto;
    height: auto;
    
  }